
@{
    ViewBag.Title = "login";
}



<div class="container">
    @if (!string.IsNullOrEmpty(ViewBag.message)) 
    { 
        <div class="alert alert-danger">@ViewBag.message</div>     
    }
    <form action="/Home/LoginAut" method="post">
        <div class="form-group">
            <label>Username</label>
            <input type="text" name="userName" value="" />
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" name="pswrd" value="" />
        </div>
        <input type="submit" name="iniciar" value="Iniciar Sesión" />
    </form>
</div>
